<div class="PetJobContainer">

  <h3 class="PetTitle">Add a new pet </h3>



  <div class="formPetJobContainer">
    <form action="/owner/add-pet" method="post" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="picture">Your pet picture</label>
        <input
          class="form-control"
          type="file"
          name="picture"
          value="https://img.freepik.com/vector-premium/icono-perro-gato-estilo-plano-ilustracion-vector-cabeza-animal-sobre-fondo-blanco-aislado_740527-4.jpg?w=996"
        />
      </div>
      <div class="mb-3">

        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" />

      </div>
      <div class="mb-3">
        <label for="animalType">Choose animal type:</label>
        <br />
        <select class="form-select" name="animalType">
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
        </select>
      </div>
      <div class="mb-3">

        <label for="race">Race:</label>
        <input class="form-control" type="text" name="race" />
      </div>
      <div class="mb-3">
        <label for="size">Choose animal size:</label>
        <br />
        <select class="form-select" name="size">
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="big">Big</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Date Of Birth:</label>
        <input class="form-control" type="date" name="dateOfBirth" />

      </div>

      <div>
        <label for="comment">comment</label>
        <br>
        <textarea name="comment" rows="5" cols="50" class="form-control" placeholder="Leave a comment here"></textarea>

      </div>
      <div class="formPetJobContainerButtons">
        <button class="btn btn-primary">Add</button>
        <a href="/owner/petlist"><button class="btn btn-outline-info">Cancel</button></a>

        {{#if this.errorMessage}}
          <div class="alert alert-danger" role="alert">
            {{this.errorMessage}}
          </div>
        {{/if}}
      </div>

    </form>

 
</div>
</div>