<div>

  <h3>Add a new pet </h3>
{{!-- 
  <form action="/owner/upload-pet-picture" method="post" enctype="multipart/form-data">


    <label for="picture">Your pet picture</label>
    <input type="file" name="picture">

    <button>Add</button>

  </form> --}}



  <form action="/owner/add-pet" method="post" enctype="multipart/form-data">

  <label for="picture">Your pet picture</label>
    <input type="file" name="picture" value="https://img.freepik.com/vector-premium/icono-perro-gato-estilo-plano-ilustracion-vector-cabeza-animal-sobre-fondo-blanco-aislado_740527-4.jpg?w=996">

 <br />

    <label for="name">Name</label>
    <input type="text" name="name" />

    <br />

    <label for="animalType">Choose animal type:</label>
    <select name="animalType">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
    </select>

    <br />

    <label for="race">Race:</label>
    <input type="text" name="race" />

    <br />

    <label for="size">Choose animal size:</label>
    <select name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="big">Big</option>
    </select>

    <br />

    <label for="dateOfBirth">Date Of Birth:</label>
    <input type="date" name="dateOfBirth" />

    <br />

    <label for="comment">comment</label>
    <textarea name="comment" rows="5" cols="50"></textarea>

    <br />

    <button>Add</button>
    <br />
    <a href="/owner/petlist"><button>Cancel</button></a>

    {{#if this.errorMessage}}
  <div class="alert alert-danger" role="alert">
    {{this.errorMessage}}
    </div>
    {{/if}}

  </form>

</div>