<div>

  <h3>Add a new pet </h3>

  <form action="/owner/add-pet" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" />

    <br />

    <label for="animalType">Choose animal type:</label>
    <select name="animalType">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
    </select>

    <br />

    <label for="race">Race:</label>
    <input type="text" name="race" />

    <br />

    <label for="size">Choose animal size:</label>
    <select name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="big">Big</option>
    </select>

    <br />

    <label for="dateOfBirth">Date Of Birth:</label>
    <input type="date" name="dateOfBirth" />

    <br />

    <label for="comment">comment</label>
    <textarea name="comment" rows="5" cols="50"></textarea>

    <br />

    <button>Add</button>
    <br />
    <a href="/owner/petlist"><button>Cancel</button></a>

    {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
    {{/if}}

  </form>

</div>