<div>

    <h3>Add a new job </h3>

    <form action="/owner/add-job" method="post">

        <label for="pet">Choose your pets:</label>
        <select name="pet" multiple>
        
        {{#each ownerPets}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
        </select>

        <br />

        <label for="city">city:</label>
        <input type="text" name="city" />

        <br />

        <label for="startDate">Start date:</label>
        <input type="date" name="startDate" />

        <br />

        <label for="endDate">End date:</label>
        <input type="date" name="endDate" />

        <br />

        <label for="comment">comment</label>
        <textarea name="comment" rows="5" cols="50"></textarea>

        <br />

        <button>Add Job</button>
        <br>
        <a href="/owner/joblist"><button>Cancel</button></a>

        {{#if this.errorMessage}}
       <div class="alert alert-danger" role="alert">
        {{this.errorMessage}}
        </div>
        {{/if}}

    </form>

</div>