<h1>{{appTitle}} 🚀</h1>
<p>Welcome!</p>

<div>

  <h3>Login form</h3>

    <form action="/" method="post">

    <label for="email">Email</label>
    <input type="email" name="email">

    <br>

    <label for="password">Password</label>
    <input type="password" name="password">

    <br>

    <button>Login</button>

    {{#if this.errorMessage}} 
      <p>{{this.errorMessage}}</p>
    {{/if}}

  </form>

</div>
<br>
<h5>Not registered click here</h5>
<div>
 <a href="/signup">signup</a>
</div>

