<h1>PETSITTR</h1>
<img src="https://img.freepik.com/vector-premium/icono-perro-gato-estilo-plano-ilustracion-vector-cabeza-animal-sobre-fondo-blanco-aislado_740527-4.jpg?w=996" alt="log CatDog" width="150px">
<p>Welcome!</p>

<div>

  <h3>Login form</h3>

  <form action="/" method="post">

    <label for="email">Email</label>
    <input type="email" name="email" />

    <br />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <br />

   <label for="RemeberMe">Remeber Me</label>
    <input type="checkbox" name="RemeberMe" value="true" checked/>


    <br />

    <button>Login</button>

    {{#if this.errorMessage}}
      <p>{{this.errorMessage}}</p>
    {{/if}}

  </form>

</div>

<br/>

<div>
<h5>Not registered yet? click here</h5>
<a href="/signup"> <button>signup</button></a>
</div>