<div>

  <h3>Signup form</h3>

  <form action="/signup" method="post">

    <label for="username">Name</label>
    <input type="text" name="username" value="{{username}}" />

    <br />

    <label for="email">Email</label>
    <input type="email" name="email" value="{{email}}"/>

    <br />

    <label for="password">Password</label>
    <input type="password" name="password" />

    <br />

  <label for="password2">Password</label>
    <input type="password" name="password2" />

    <br />



    <label for="userType">Choose your role:</label>
    <select name="userType">
      <option value="owner">Owner</option>
      <option value="sittr">Sittr</option>
    </select>

    <br />

    <button>Registro</button>

    {{#if this.errorMessage}}
       <div class="alert alert-danger" role="alert">
      {{this.errorMessage}}
      </div>
    {{/if}}

  </form>

</div>